.navbar-nav {
	list-style-type: none;
	float: left;
	width: 210px;
	font-size: 1.2em;

	#search-term {
		margin-top: 20px;
	}

	li.nav-item {
		position: relative;
		height: 40px;
		padding: 4px;
		text-align: right;
		text-decoration: underline;
		color: var(--text-link);

		a {
			color: var(--text-link);
		}
	}

	li.nav-item.parent:hover ul {
		display: block;
	}

	ul {
		list-style-type: none;
		display: none;
		position: absolute;
		left: 170px;
		top: 0;
		width: 330px;
		background-color: var(--bkg-major);
		border: 1px solid var(--border-light);
		padding: 5px;

		.nav-item {
			line-height: 30px;
			text-align: left;
			width: 100%;

			a {
				display: inline-block;
				width: 100%;
				text-decoration: underline;
				color: var(--text-link);
			}
		}

		.nav-link {
			color: var(--hilight);
		}
	}
}

@include screen-width('medium') {
	.navbar-nav {
		margin-top: 43px;
	}
}
