body {
    margin: 0;
    padding: 0;
}

#title {
    position: relative;
    letter-spacing: 10px;
    font-style: italic;
    font-family: verdana;
    font-size: 1.5em;
    left: 290px;
    width: 600px;
    color: #eee; 
}

#holder {
    position: relative;
    width: 80%;
    height: 90%;
    top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

#fld_search {
    width: 100px;
    background-color: #fff;
    color: #000;
    letter-spacing: 1px;
}

#btn_submit {
    background-color: #000;
    color: #fff;
    height: 23px;
    font-size: 0.8em;
    margin-top: 4px;
}

#divInfo a:hover, #divInfo a:hover {
    text-decoration: underline;
}

#random_pic {
    position: absolute;
    left: 115px;
    top: 0;
    text-align: left;
    margin: 0;
    padding: 0;
}
