<nav>
	<ul class="navbar-nav">
		{{ range .Site.Data.nav.menu }}
			{{ $item := . }}

			{{ if .sub }}
					<li class="nav-item parent">
						{{ .title }}

						<ul>
							{{range .sub }}
								<li class="nav-item">
									<a href="{{ .url }}" alt="{{ .title }}">
											{{ .title }}
									</a>
								</li>
							{{ end }}
						</ul>
					</li>
			{{ else }}
				<li class="nav-item">
					<a href="{{ .url }}" alt="{{ .title }}">{{ .title }}</a>
				</li>
			{{ end }}
		{{ end }}
	</ul>
</nav>
