{% include top.html %}

{% assign dir = site.data.vids[page.data].dir %}

<div class="gallery">
    <h2>{{ page.title }}</h2>

    {% for v in site.data.vids[page.data].vids %}
        <div class="record">
						<div class="divLeft">

							{% if v.vid %}
									<a href="{{ dir }}{{ v.vid }}">
										<img src="{{ dir }}{{ v.img }}" width="250" />
									</a>
							{% else %}
									<img src="{{ dir }}{{ v.img }}" width="250" />
							{% endif %}
						</div>

            <div class="divRight">
                {% if v.description %}
                    {{ v.description }}
										<hr />
                {% endif %}

                <div class="vInfo">
                    {% if v.location %}
                        Location: {{ v.location }}
												<hr />
                    {% endif %}

                    {% if v.who %}
                        {{ v.who }}
												<hr />
                    {% endif %}

                    {% if v.date %}
											<h6>{{ v.date }}</h6>
                    {% endif %}
                </div>
            </div>

            <div class="clearer"></div>
        </div>
    {% endfor %}

    {{ content }}

</div>

{% include tail.html %}
